
/* Navbar.css */
.custom-navbar {
    background-color: #443f44c3;
  }
  
@media (max-width: 768px) {
    .custom-navbar {
      /* flex-direction: column; */
      /* align-items: center; */
      height: 100px;
    }
    

    
  }
  
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #adbf24 !important;
}

.custom-navHover :hover {
    color: #497fa0 !important;
}



